.all-page {
  background-image: url('../assets/blue-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.blur {
  
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  border: 1px solid white;
  
  
}
.Inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  max-width: 15rem;
}
