.all-succes-page {
  background-image: url('../assets/blue-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.congratz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.return-batın button {
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: inherit;
 

}
.return-batın{
  font-size: 1.5rem;
}